div.fixed{
    position: fixed;
    top: 0px;
    width: 2000px;
    left: 0px;
    padding: 10px 10px;
    background: #2988BC;
    color: white;
    font-size: 28px;
    font-style: oblique;
    font-weight: 900;
    z-index: 1;
}
.pertama{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2f496e;
    color: aliceblue;
    font size: 29px;
}
.kedua{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px; 
}
.ketiga{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f4eade;
    color: black;
    font size: 29px;
    
}
.keempat{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px; 
}
.kelima{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  #ed8c72;
    color: white;
    font size: 29px; 
}
.keenam{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px; 
}
.ketujuh{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2988bc;
    color: white;
    font size: 29px; 
}
.kedelapan{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px; 
}
.kesembilan{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#2f496e;
    color: white;
    font size: 29px; 
}
.kesepuluh{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px; 
}
.kesebelas{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#f4eade;
    color: black;
    font size: 29px; 
}
.keduabelas{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px;
}
.ketigabelas{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  #ed8c72;
    color: white;
    font size: 29px
}
.keempatbelas{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font size: 29px;
}
.kelimabelas{
    position: relative;
    top: 45px;
    width: 1000px;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2988bc;
    color: white;
    font size: 29px; 
}
.tombol{
    background:#2988bc;
    color:white;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:0px solid #2A80B9;
    padding:10px 20px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:11pt;
}
